.block {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-interactive-color);
    margin: 0 0 1rem;
    padding: .5rem;
}

.block .file {
    display: flex;
    align-items: center;
    margin: .5rem;
    border-bottom: none;
    border-radius: 10px;
}

.block .file:hover {
    background-color: var(--bg-highlight-accent);
}

.block .file i {
    font-size: 3.5rem;
}

.block .file .info {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: .5rem;
}

.block .file .name {
    display: flex;
    min-width: 0;
    border-bottom: none;
    font-size: 1.2rem;
}

.block .file .name span:first-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.block .file .name span:last-child {
    flex-shrink: 0;
}

.block .file:hover .name {
    text-decoration: underline;
}

.block .file .size {
    font-size: .8rem;
}

@media(min-width: 640px){
    .block {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(min-width: 1200px){
    .block {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
