.switcher {
    display: flex;
    justify-content: space-between;
    color: var(--text-switcher-color);
}

.switcher a {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: .9rem;
}

.switcher.first {
    justify-content: flex-end;
}

.switcher.last {
    justify-content: flex-start;
}

.switcher a.next {
    text-align: right;
    flex-direction: column-reverse;
}

@media(min-width: 22rem) {
    .switcher a {
        display: block;
    }
}

@media(min-width: 25rem) {
    .switcher a {
        font-size: 1rem;
    }
}