.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: var(--wrapper-padding);
    position: -webkit-sticky;
    position: sticky;
    bottom: var(--wrapper-padding);
    left: 100%;
    background-color: var(--bg-accent-color);
    border: none;
    border-radius: 50%;
    transition: transform 0.5s;
    z-index: 2;
    box-shadow: 0 2px 0 #00000055;
    cursor: pointer;
}

.arrow {
    border: solid var(--text-inverted-color);
    border-width: 0 .35em .35em 0;
    display: inline-block;
    padding: .5em;
    transform: translateY(.3536em) rotate(-135deg);
}

.hidden {
    transform: translateX(7rem);
}
