.video {
    max-width: 800px;
    margin: 0 auto 1em auto;
}

.video div {
    box-sizing: border-box;
    position:relative;
    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}